<strong>Hello, {{ organizer }}!</strong>
<p>There has been a new subscription to {{ meetup }}. Subscriber's information is below:</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
